nav{
    padding-top: 0px;
   
   
}
.app-menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    
}
.app-menu__list {
   
    width: auto;
    display: flex; 
    justify-content: left;
    height: 60px;
    align-items: center;
    

}
   
.app-menu__item {
    display: flex;
    list-style: none;
    
   
    
}

.app-menu__link {
    color: #ffffff;
    font-family: "Caviar";
    font-size: 15px;
    margin-right: 1rem;
    text-decoration: none;
    
}

.app-menu__link:hover {
    text-decoration: underline;
}

.app-social-media{
    
    display: flex;    
    // margin-left: 350px;
    height: 60px;
    align-items:center;
 
    flex-direction: row;
    justify-content: right;
    
}
.app-menu_icon{
    color: #ffffff;
    font-family: "Caviar";
    font-size: 15px;
    margin-right: 1rem;
    text-decoration: none;
    list-style: none;
    
}

ion-icon {
    font-size: 25px;
  }

