.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    min-width: 50%;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
   
    
    flex-wrap: wrap;
}