@font-face {
    font-family: "CaviarDreams_Bold";
    src: url("../../assets/fonts/CaviarDreams_Bold.ttf");
  }

.home-container{
    background-color: black;
    color: aliceblue;
    padding: opx;
}



.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "CaviarDreams_Bold";
    font-size: 30px;
    

}

.home-body-container{
    display: flex;
    flex-direction: column;
}